@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #edede9;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  margin: 0 5rem;
}

.home {
  margin-right: auto;
}

.logo {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

li {
  font-family: 'Poppins', sans-serif;
}

.menu li:nth-child(3) {
  background-color: #e9ecef;
  color: #023e8a;
  padding: 8px 12px;
  border-radius: 8px;
  border: solid 1px #023e8a;
  cursor: pointer;
}

.menu li:nth-child(3):hover {
  background-color: #023e8a;
  color: #e9ecef;
}

.header {
  /* background: url('https://ik.imagekit.io/lzgpc48la/Frame_1__2__76og5TXSU.png?ik-sdk-version=javascript-1.4.3&updatedAt=1663645145941'); */
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 85vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0rem 5rem;
}

.header>div:nth-child(3) {
  /* background-color: #000; */
}

.grid-container {
  margin-top: 4rem;
}

.text-balance {
  text-wrap: balance;
}

.arrow-down {
  width: 1rem;
  position: relative;
  animation: mymove 5s infinite;
  margin: 0 0 30px 0;
}

@keyframes mymove {
  from {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  to {
    top: 0px;
  }
}

.bg-img {
  flex-shrink: 0;
  background-image: url(/bg.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}

.services h2 {
  margin: 0;
  font-size: 56px;
  text-align: center;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  letter-spacing: -1.5px;
}

.footer-list {
  display: inline-block;
  margin: 20px 0px !important;
}

.content-body {
  background-color: #212529;
  color: #e9ecef;
  justify-content: center;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .header {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    /* margin: 0rem 5rem; */
    display: flex;
    flex-direction: column-reverse;

  }

  .header div:nth-child(3) {
    display: none;
  }

  nav {
    margin: 0 1rem;
  }

  ul {
    padding: 0 10px;
    gap: 5px;
    font-size: 13px;
  }

  .menu {
    padding: 0;
  }
}